.headerJsx {
  border: 2px solid rosybrown;
  color: green;
}

.paragraphJsx {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.headerFunction1 {
  border: 3px dotted red;
  color: blue;
}

.paragraphFunction1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.headerFunction2 {
  border: 2px dashed orange;
  color: gray;
}

.paragraphFunction2 {
  font-family: cursive;
  color: slateblue;
}

.headerClass1 {
  border-style: dotted dashed solid double;
  border-color: black;
  color: lightseagreen;
}

.paragraphClass1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: hotpink;
  font-weight: bolder;
}

.headerClass2 {
  border-style: dotted dashed solid double;
  border-color: teal;
  color: saddlebrown;
}

.paragraphClass2 {
  font-family: fantasy;
  color:slateblue;
  font-weight: bolder;
}